<%= form_for(@link, html:{role: 'form', class: 'form-inline'}) do |f| %>
  <% if @link.errors.any? %>
    <%= render "shared/error_messages", object: @link %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :long_link, class: 'form-control' %>
    <%= f.submit "Shorten", class: 'btn btn-success', id:'shorten'%>
  </div>
<% end %>
