<div class="container-fluid">
    <h1>Bitlier</h1>
    <div class="form_holder">
        <%= render 'form'%>
    </div>
    <div class="table_holder">
        <table class="table table-striped">
        <% unless current_user.nil?  %>
            <%= will_paginate @links %>
            <%= render 'links/link', object: @links %>
        <% else %>
            <%= render 'links/link', object: @link_to_show %>
        <% end %>
        </table>
    </div>
</div>