.container-fluid {
  position: relative;
  top: 50px;
  width: 300px;
  h2 {
    text-align: center;
  }
  .login {
    #login-button {
      position: relative;
      left: 15px;
    }
  }
  &.password{
    width: 360px !important;
    .actions{
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  &.edit-usr{
    width: 400px;
    h3{
      text-align: center;
    }
    .btn-danger{
      position: relative;
      float: left;
      top: -34px;
      left: 75px;
    }
  }
}

